<header class="main-header">
  <div class="top-bar">
    <div class="container flex-between">
      <div class="top-links">
        <a href="#">Central de Atendimento</a>
        <a href="#">Minhas Viagens</a>
      </div>
      <div class="user-actions">
        <a href="#" class="link-login">Entrar / Cadastrar</a>
      </div>
    </div>
  </div>
  
  <div class="main-nav">
    <div class="container flex-between">
      <a class="logo" routerLink="/">
        <img src="https://assets.queropassagem.com.br/static/Images/Logos/logo_nova_grande.png" alt="Quero Passagem">
      </a>
      
      <nav class="nav-menu">
        <ul>
          <li><a href="#">Passagens de Ônibus</a></li>
          <li><a href="#">Viações</a></li>
          <li><a href="#">Destinos</a></li>
          <li><a href="#">Dúvidas</a></li>
        </ul>
      </nav>
      
      <div class="mobile-menu-toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>
