@import '../../../../scss/variables';

.destination-card {
  transition: all 0.3s ease;
  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
    img {
      transform: scale(1.1);
    }
  }
  
  img {
    transition: transform 0.5s ease;
  }
}
