@import '../../../scss/variables';

.search-results-page {
  .fw-black {
    font-weight: 900;
  }
  
  .ls-1 {
    letter-spacing: 1px;
  }

  .x-small {
    font-size: 8px;
  }

  .border-end-lg {
    @media (min-width: 992px) {
      border-right: 1px solid $gray-100 !important;
    }
  }

  .trip-card-wrapper {
    transition: transform 0.2s, box-shadow 0.2s;
    &:hover {
      box-shadow: $shadow-lg !important;
    }
  }

  .shadow-inner {
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  }
}
